.DS_Store
*.screenflow
*.MOV
*.mp4
*.aup
*.m4v
*.au
/fundamentals/006 - primitives - bytes/target/
/fundamentals/007 - primitives - shorts/target/
/fundamentals/010 - primitives - floatingpoint/target/
/fundamentals/011 - primitives - booleans and chars/target/
/fundamentals/019 - while/target/
/fundamentals/021 - fizzbuzz/target/